@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  width: 100%;
  background: white;
}
header nav .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 27px;
}
header nav .header-wrapper img {
  width: 221px;
  height: 38px;
}
header nav .header-wrapper .input_header {
  position: relative;
  width: 427px;
  height: 52px;
  background: rgba(47, 43, 67, 0.0392156863);
  border-radius: 10px;
}
header nav .header-wrapper .input_header input {
  background: transparent;
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav .header-wrapper .input_header i {
  position: absolute;
  right: 5px;
  font-size: 25px;
  top: 12px;
  color: black;
  z-index: 99;
}
header nav .header-wrapper button {
  position: relative;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  padding-left: 45px;
  cursor: pointer;
  background: #33836E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
}
header nav .header-wrapper button span {
  top: 10px;
  left: 10px;
  position: absolute;
}
header nav .header-wrapper .header_contact {
  width: 220px;
  height: 51px;
}
header nav .header-wrapper .header_contact h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header nav .header-wrapper .header_contact p {
  color: var(--Gray-Medium, rgba(47, 43, 67, 0.5));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav .responsiv {
  display: none;
}

@media only screen and (max-width: 390px) {
  .container {
    max-width: 390px;
  }
  .header-bottom {
    display: none !important;
  }
  header {
    border-bottom: 1px solid rgba(20, 10, 50, 0.6);
  }
  header nav .header-wrapper {
    display: none;
  }
  header nav .responsiv {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .responsiv i {
    font-size: 30px;
    cursor: pointer;
    color: #33836E;
  }
  header nav .responsiv div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  header nav .responsiv div i {
    font-size: 25px;
    color: #33836E;
  }
  header nav .responsiv .togle_menu {
    position: relative;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    z-index: 999;
    position: absolute;
    top: 0px;
    transition: all 0.3s linear;
    transform: translateX(-100%);
  }
  header nav .responsiv .togle_menu #close_btn {
    position: absolute;
    right: 20px;
    top: 25px;
  }
  header nav .responsiv .togle_menu li {
    padding: 15px;
  }
  header nav .responsiv .togle_menu li a {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  header nav .responsiv .togle_menu li button {
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  header nav .responsiv .togle_menu li button a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
  }
}
.togle {
  transform: translateX(0) !important;
  transition: all 0.3s linear;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}
.header-bottom i {
  font-size: 25px;
  color: blue;
}
.header-bottom li a {
  gap: 10px;
  align-items: center;
  display: flex;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-bottom li a button {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgba(20, 10, 50, 0.4078431373);
  background: transparent;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

main {
  padding-top: 220px;
}
main #intro p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Gray-Medium, rgba(47, 43, 67, 0.5));
  margin-bottom: 49px;
}
main #intro .intro-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #intro .intro-wrapper .intro-left {
  max-width: 657px;
}
main #intro .intro-wrapper .intro-left h3 {
  width: 100%;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
  margin-bottom: 15px;
}
main #intro .intro-wrapper .intro-left p {
  color: var(--Base-Black, #140A32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  width: 100%;
  margin-bottom: 30px;
}
main #intro .intro-wrapper .intro-left div {
  width: 474px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #intro .intro-wrapper .intro-left div button {
  height: 56px;
  padding: 16px 32px;
  color: var(--Base-White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #33836E;
  border: none;
  cursor: pointer;
}
main #intro .intro-wrapper .intro-left div div {
  display: block;
  width: 190px;
  padding-top: 25px;
}
main #intro .intro-wrapper .intro-left div div h4 {
  color: var(--green, #33836E);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main #intro .intro-wrapper .intro-left div div p {
  color: var(--Gray-Medium, rgba(47, 43, 67, 0.5));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main #intro .intro-wrapper .intro-left ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
main #intro .intro-wrapper .intro-left ul li {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main #intro .intro-wrapper .intro-left ul li i {
  position: absolute;
  top: 2px;
  color: #33836E !important;
  left: -20px;
}
main #intro .intro-wrapper .intro-left ul li p {
  color: var(--Base-Black, #140A32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main #intro .intro-wrapper .intro-left ul li span {
  position: absolute;
  top: 0;
  left: -25px;
}
main #intro .intro-wrapper .intro-right {
  width: 377px;
}
main #intro .intro-wrapper .intro-right img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 390px) {
  main {
    padding-top: 100px !important;
  }
  main .container p:first-child {
    margin-left: 30px;
    margin-bottom: 0px !important;
  }
  .intro-wrapper {
    margin-top: 100px !important;
    padding: 0 15px !important;
    display: grid !important;
    grid-template-columns: 360px !important;
    grid-template-rows: 180px 700px !important;
  }
  .intro-wrapper .intro-left {
    width: 100% !important;
  }
  .intro-wrapper .intro-left h3 {
    width: 100% !important;
    color: var(--Base-Black, #140A32);
    text-align: center;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  .intro-wrapper .intro-left p {
    width: 100% !important;
    color: var(--Base-Black, #140A32);
    text-align: center;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
  .intro-wrapper .intro-left div {
    width: 100% !important;
    display: block !important;
  }
  .intro-wrapper .intro-left div button {
    width: 100%;
    display: block !important;
    text-align: center;
    margin: 0 auto;
  }
  .intro-wrapper .intro-left div div {
    width: 100% !important;
    text-align: center;
  }
  .intro-wrapper .intro-left div div h4 {
    margin: 0 auto;
    width: 200px;
    border-bottom: 3px solid #33836E;
    padding-bottom: 5px;
  }
  .intro-wrapper .intro-left ul {
    padding: 0 50px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .intro-wrapper .intro-left ul li {
    margin-left: 0px !important;
  }
  .intro-wrapper .intro-right {
    padding: 0 40px;
    width: 100% !important;
    grid-row-start: 1;
  }
}
#yuridik_help {
  margin-bottom: 360px;
  margin-top: 100px;
}
#yuridik_help .container .yuridik_help {
  margin-bottom: 90px;
}
#yuridik_help .container .yuridik_help h4 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
#yuridik_help .container .yuridik_help p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 20px;
}
#yuridik_help .container .free_consul h4 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
#yuridik_help .container .free_consul p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 30px;
}
#yuridik_help .container .free_consul ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#yuridik_help .container .free_consul ul li {
  position: relative;
  width: 270px;
  height: 180px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
}
#yuridik_help .container .free_consul ul li i {
  color: #33836E;
  font-size: 30px;
  margin-bottom: 15px;
}
#yuridik_help .container .free_consul ul li p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
#yuridik_help .container .free_consul ul li h4 {
  color: var(--Base-Black, #140A32);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#yuridik_help .container .free_consul ul li a {
  position: absolute;
  bottom: 10px;
  color: var(--green, #33836E);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media only screen and (max-width: 390px) {
  #yuridik_help {
    margin-top: 60px !important;
    margin-bottom: 40px !important;
  }
  #yuridik_help .container .yuridik_help {
    padding: 0 20px;
    width: 100%;
  }
  #yuridik_help .container .yuridik_help h4 {
    font-size: 20px;
  }
  #yuridik_help .container .yuridik_help p {
    font-size: 14px;
  }
  #yuridik_help .container .free_consul {
    width: 100% !important;
    padding: 0 4px;
    width: 100% !important;
  }
  #yuridik_help .container .free_consul h4 {
    padding: 0 16px;
    font-size: 20px !important;
  }
  #yuridik_help .container .free_consul p {
    padding: 0 16px !important;
    font-size: 14px;
  }
  #yuridik_help .container .free_consul ul {
    width: 100% !important;
    flex-wrap: wrap;
  }
  #yuridik_help .container .free_consul ul li {
    width: 175px !important;
    height: 191px !important;
    margin-bottom: 15px;
  }
  #yuridik_help .container .free_consul ul li p {
    padding: 0 !important;
    font-size: 14px !important;
  }
  #yuridik_help .container .free_consul ul li h4 {
    padding: 0 !important;
    font-size: 18px !important;
  }
}
#help_you .container .section {
  position: relative;
}
#help_you .container .section .help_you {
  margin-bottom: 80px;
}
#help_you .container .section .help_you h4 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 30px;
}
#help_you .container .section .help_you ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#help_you .container .section .help_you ul li {
  gap: 25px;
  display: flex;
  width: 560px;
  height: 180px;
  padding: 30px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
}
#help_you .container .section .help_you ul li span {
  display: flex;
  padding: 35px;
  align-items: center;
  gap: 10px;
  border-radius: 9999px;
  background: #EBF2F0;
}
#help_you .container .section .help_you ul li p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#help_you .container .section .choise_our {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#help_you .container .section .choise_our .choise-left {
  width: 560px;
}
#help_you .container .section .choise_our .choise-left h4 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
#help_you .container .section .choise_our .choise-left p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 30px;
}
#help_you .container .section .choise_our .choise-left ul {
  width: 469px;
  display: flex;
  justify-content: space-between;
}
#help_you .container .section .choise_our .choise-left ul li h5 {
  color: var(--green, #33836E);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-bottom: 10px;
}
#help_you .container .section .choise_our .choise-left ul li p {
  margin: 0;
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#help_you .container .section .hot_linii {
  border-radius: 20px;
  background: var(--green, #33836E);
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 31px 60px;
}
#help_you .container .section .hot_linii .hot_linii-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 296px;
}
#help_you .container .section .hot_linii .hot_linii-left p {
  color: var(--Base-White, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#help_you .container .section .hot_linii .hot_linii-left h5 {
  color: var(--Base-White, #FFF);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.26px;
}
#help_you .container .section .hot_linii .hot_linii-right {
  width: 501px;
}
#help_you .container .section .hot_linii .hot_linii-right h5 {
  color: var(--Base-White, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
#help_you .container .section .hot_linii .hot_linii-right div {
  display: flex;
  gap: 15px;
  margin-bottom: 22px;
}
#help_you .container .section .hot_linii .hot_linii-right div div {
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}
#help_you .container .section .hot_linii .hot_linii-right div div input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Base-Black, #140A32);
  padding-top: 26px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#help_you .container .section .hot_linii .hot_linii-right div div p {
  top: 5px;
  left: 10px;
  position: absolute;
  color: var(--Gray-Low, rgba(47, 43, 67, 0.4));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#help_you .container .section .hot_linii .hot_linii-right div button {
  color: var(--Base-White, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid var(--Base-White, #FFF);
  padding: 16px 36px 18px 36px;
  background: transparent;
  cursor: pointer;
}
#help_you .container .section .hot_linii .hot_linii-right p:last-child a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
#help_you .container .section .our_yurist {
  margin-top: 80px;
}
#help_you .container .section .our_yurist h5 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 29px;
}
#help_you .container .section .our_yurist ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#help_you .container .section .our_yurist ul li {
  border-radius: 20px;
  border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
  display: flex;
  width: 560px;
  height: 287px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
}
#help_you .container .section .our_yurist ul li div {
  display: flex;
  align-items: center;
  gap: 25px;
}
#help_you .container .section .our_yurist ul li div p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#help_you .container .section .our_yurist ul li p {
  color: var(--Gray-High, rgba(47, 43, 67, 0.7));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
#help_you .container .section .call_we {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding-right: 117px;
  margin-top: 20px;
  display: flex;
  border-radius: 20px;
  background: var(--green, #33836E);
  justify-content: space-between;
}
#help_you .container .section .call_we img:first-child {
  z-index: 99;
  margin-left: 36px;
}
#help_you .container .section .call_we div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 334px;
  flex-direction: column;
}
#help_you .container .section .call_we div:nth-child(2) h5 {
  color: var(--Base-White, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#help_you .container .section .call_we div:nth-child(2) h4 {
  color: var(--Base-White, #FFF);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.26px;
}
#help_you .container .section .call_we div:nth-child(3) {
  margin-left: 86px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#help_you .container .section .call_we div:nth-child(3) p {
  color: var(--Base-White, #FFF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
#help_you .container .section .call_we div:nth-child(3) img {
  cursor: pointer;
}
#help_you .container .section .call_we .color {
  top: 31px;
  left: -130px;
  position: absolute;
  width: 399px;
  height: 399px;
  border-radius: 399px;
  background: rgba(20, 10, 50, 0.2);
}
#help_you .container .section .quessions_we {
  width: 100%;
  top: 2650px;
  position: absolute;
  padding-left: 51px;
  padding-right: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--Gray-Background, rgba(47, 43, 67, 0.04));
}
#help_you .container .section .quessions_we h4 {
  width: 295px;
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}
#help_you .container .section .quessions_we div {
  display: flex;
  gap: 15px;
  margin-bottom: 22px;
}
#help_you .container .section .quessions_we div div {
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}
#help_you .container .section .quessions_we div div input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Base-Black, #140A32);
  padding-top: 26px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#help_you .container .section .quessions_we div div p {
  top: 5px;
  left: 10px;
  position: absolute;
  color: var(--Gray-Low, rgba(47, 43, 67, 0.4));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#help_you .container .section .quessions_we div button {
  color: var(--Base-White, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid var(--Base-White, #FFF);
  padding: 16px 36px 18px 36px;
  background: #33836E;
  cursor: pointer;
}
#help_you .container .section .seo-wrapper {
  padding-top: 200px;
  margin-bottom: 90px;
}
#help_you .container .section .seo-wrapper h4 {
  color: var(--Base-Black, #140A32);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
#help_you .container .section .seo-wrapper p {
  color: var(--Base-Black, #140A32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 20px;
}
#help_you .container .section .seo-wrapper div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #E0ECE9;
  border-radius: 10px;
  cursor: pointer;
}
#help_you .container .section .seo-wrapper div a {
  color: var(--green, #33836E);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #E0ECE9;
  padding: 16px 36px 18px 36px;
}/*# sourceMappingURL=style.css.map */